
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Public Sans', sans-serif;
    background-color: rgba(211, 211, 211, 0.206);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Text styles */
h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

h2 {
    font-size: 19px;
    font-weight: 700;
    
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* Colour styles */
.grey {
    color: rgba(21, 25, 32, 0.5);
}

/* Modal styling */
div.modal {
    position: relative;
    width: 328px;
    padding: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: WHITE;
    border-radius: 16px;
}

/* Banner image div section */

div.image {
    padding: 16px 16px 8px;
    width: 328px;
    height: 160px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Title section */

div.title {
    padding: 16px 24px;
    width: 328px;
    height: 56px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/* 8px-top divs */

div.pxtop {
    padding: 8px 24px;
    width: 328px;
    align-items: center;
    display: flex;
}

/* Order preview section */
div.orderpreview {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 16px;
    gap: 24px;

    width: 280px;

    border: 1px solid rgba(86, 103, 137, 0.26);
    border-radius: 8px;
}

#avatar {
    width: 40px;
    height: 40px;
}

.orderdetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Button section */

button {
    background-color: rgb(230, 230, 230);
    box-shadow: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 16px;
    border-radius: 8px;

    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px 24px;
    gap: 16px;

    width: 328px;
}

/* Button styles */

.primary-btn {
    background-color: #9287FF;
    color: white;
}

.secondary-btn {
    border: 1px solid rgba(86, 103, 137, 0.26);
    background-color: white;
    color: rgba(21, 25, 32, 0.5);
}